@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
  }
  .cover-container > h1 {
      color: #fff;
      font-size: 100px;
      font-family: 'Roboto', sans-serif;
  }
  .cover-container > p {
      margin-top: 10px;
      color: #fff;
      font-size: 32px;
  }